body{
    font-family: monospace;
    background-color:#090920;
}
h1{
    font-size:2rem;
    color:#090920;
    margin:0;
}
input{
    font-family: sans-serif;
    font-size: 1.2rem;
    color:#090920;
    border:.4px solid #090920;
    text-align:center;
    padding:10px;
    border-radius:4px;
    width:100%;
    height:8%;
}
button{
    height:15%;
    background-color:#090920;
    color:#F2CB88;
    padding:10px;
    border:0;
    border-radius:3px;
}
button:hover{

    box-shadow: 4px 4px 2px 0 grey;
}
h3,label{
    width:100%;
    word-break: normal;
    word-wrap:break-word;
    font-family: sans-serif;
    font-size: 1.6rem;
    color:#090920;
}

/* defining the layout */
.main-section{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: stretch;
    text-align:center;
    flex-wrap: wrap;
    background-color: #F2CB88;
    width:50vw;
    height:50vh;
    position:absolute;
    top:20vh;
    left:20vw;
    padding:5vh 5vw 5vh 5vw;
    border-radius:30px;
}
